<div class="flex">

  <!-- SIDEBAR -->
  <aside
    class="fixed top-0 left-0 z-40 w-64 h-screen bg-neutral-primary-soft border-r border-slate-300 hidden sm:block">
    <div class="text-2xl flex flex-row p-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
      </svg>

      <span class="mx-1 font-bold">

        Admin Products
      </span>
    </div>
    <ul class="mt-2">
      @for (menuItem of menu; track $index) {
      <li [routerLink]="menuItem.route" routerLinkActive="bg-slate-500 text-white"
        class="p-2 text-center cursor-pointer border rounded-sm font-bold  transition-all ease-in-out .5s">
        {{menuItem.label}}</li>
      }
    </ul>
    <!-- tu sidebar aquí -->
  </aside>

  <!-- CONTENEDOR DERECHO -->
  <div class="flex-1 sm:ml-64">

    <!-- TOPBAR -->
    <header class="h-16 bg-white border-b border-slate-300 flex items-center justify-between px-4">

      <!-- izquierda -->
      <div class="flex items-center gap-3">
        <button class="sm:hidden" (click)="isOpen = !isOpen">☰</button>
        <h1 class="font-semibold">Administrador</h1>

      </div>

      <!-- derecha -->
      <div class="flex items-center gap-4">
        <span class="text-sm">{{User.firstName}} {{User.lastName}}</span>
        <img class="w-8 h-8 rounded-full" [src]="User.image" alt="avatar">
      </div>

    </header>

    <!-- CONTENT -->
    <main class="p-4">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>
