<div class="min-h-screen w-full flex items-center justify-center bg-gradient-to-br from-slate-900 to-slate-700">

  <div class="w-[380px] p-8 rounded-2xl backdrop-blur-lg bg-white/10 border border-white/20 shadow-2xl">

    <!-- Header -->
    <div class="flex flex-col items-center mb-6 text-white">
      <div class="bg-white/20 p-3 rounded-full mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-8">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
        </svg>
      </div>

      <h2 class="text-2xl font-bold">Bienvenido</h2>
      <p class="text-sm text-white/70">Ingresa tus credenciales</p>
    </div>

    <!-- Form -->
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex flex-col gap-4">

      <mat-form-field appearance="outline" class="w-full text-white">
        <mat-label>Usuario</mat-label>
        <input matInput  formControlName="username" />
        @if (isValidField(loginForm,"username")) {
          <mat-error>{{getFieldErrors(loginForm,"username")}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full text-white">
        <mat-label>Contraseña</mat-label>
        <input matInput  type="password" formControlName="password" />
        @if (isValidField(loginForm,"password")) {
          <mat-error>{{getFieldErrors(loginForm,"password")}}</mat-error>
        }
      </mat-form-field>

      <!-- Button -->
      <button
        type="submit"
        class="mt-4 w-full py-3 rounded-xl font-semibold bg-blue-500 hover:bg-blue-600 text-white transition-all duration-300 shadow-lg hover:shadow-xl active:scale-95">
        Acceder
      </button>

    </form>

  </div>

</div>
